.avatar-upload-container {
    display: flex;
    gap: 15px; 
    margin-top: 0.5em;
    
}
  
.hidden-input {
    display: none;
}

.avatar-content {
    margin-bottom: auto;
    background-color: var(--color2);
    padding: 0.5em;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border-radius: 12px;
}

.upload-area {
    
    border: 2px dashed #ccc;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    position: relative;
    overflow: hidden;
}
  
.upload-area.dragging {
    border-color: #4285f4;
    background-color: rgba(66, 133, 244, 0.1);
}
  
.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.upload-placeholder {
    text-align: center;
    color: #666;
}
  
.upload-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
  
.upload-icon span {
    font-size: 48px;
    line-height: 1;
    color: #4285f4;
}
  
.upload-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    flex-grow: 1;
}
  
.upload-button, .submit-button {
    padding: 1em 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s;
    height: 100%;
    align-items: center;
    display: flex;
}
  
.upload-button {
    background: #f1f3f4;
    color: #202124;
    
}

.upload-button:hover {
    background-color: #34a853;
    color: aliceblue
}

  
.submit-button {
    background: #4285f4;
    color: white;
    border: none;
}
  
.submit-button:hover {
    background: #3367d6;
}
  
.submit-button:disabled {
    background: #9e9e9e;
    cursor: not-allowed;
}
  
.progress-container {
    width: 100%;
    height: 6px;
    background: #f1f3f4;
    border-radius: 3px;
    overflow: hidden;
}
  
.progress-bar {
    height: 100%;
    background: #34a853;
    transition: 0.3s ease;
}

.contrl {
    display: flex;
    gap: 12px;
    height: 10em;
}