.main-chat {
    height: 100vh;
    flex-grow: 1;
    position: relative;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: var(--color2);
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}

.chat-content {
    box-sizing: border-box;
    overflow-y: scroll;
    position: relative;
    height: 100%;
    width: 100%;  
    padding-inline: 12%;
    scrollbar-color: var(--color1) var(--color2);
    will-change: scroll-position;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.main-chat::before {
    content: "";
    position: absolute;
    background-image: url("assets/images/fon.jpg");
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.chat-header {
    display: flex;
    align-items: center;
    padding-inline: 2em;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    min-height: 4em;
    width: 100%;
    margin-bottom: auto;
    background-color: transparent;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 5px rgb(6, 6, 6);
    justify-content: center;
    color: var(--text);
}

.back {
    display: flex;
    height: 3em;
    position: absolute;
    left: 5px;
    border-radius: 50%;
}

.back:hover {
    background-color: var(--color2);
}

.chat-namee {
    background-color: var(--color1);
    width: max-content;
    min-width: 70%;

    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px rgb(200, 200, 200);
    border-radius: 12px;
}

.chat-console {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    position:relative;
    border-right: #0e1621;
    background-color: var(--color2);
    box-sizing: border-box;
    justify-self: flex-end;
    box-shadow: 0px 0px 5px rgb(6, 6, 6);
    transition: all 0.1s ease-out;
}



.chat-console::-webkit-scrollbar {
    width: 0 !important;
}