#search-chat {
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    height: 4em;
    background-color: var(--color2);
    justify-content: center;
    user-select: none;
    align-items: center;
   
    z-index: 1;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgb(6, 6, 6);
}

.wrapper-search {
    width: 97%;
    height: 100%;
    display: flex;
    align-items: center;
}

.search-input {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.loup {
    position: absolute;
    height: 50%;
    right: 0;
    top: 50%;
    translate: -60% -50%;
}

#search-chat-input {
    background-color: var(--color1);
    border: none;
    touch-action: none;
    border-radius: 12px;
    margin-block: 0.7em;
    width: 100%;
    margin-right: 1em;
    box-shadow: 0px 0px 5px rgb(6, 6, 6);
}

#search-chat-input:focus {
    outline: 2px solid rgb(117, 194, 224);
}

.navigate-button {
    height: 60%;
    margin-left: auto;
    cursor: pointer;
   
}


.data-input {
    border: none;
    touch-action: none;
    border-radius: 1.5rem;
    height: 2.5rem;
    margin-block: 0.5rem;
    padding-left: 1rem;
    color: var(--text);
    width: 100%;
    box-sizing: border-box;
    background-position: 95%;
    user-select: none;
    background-size: 1.4rem;
    background-repeat: no-repeat;
    padding-right: 2rem;
    position: relative;
}

.hide {
    display: none !important;
}

#filter {
    display: flex;
    width: 100%;
    height: 2em;
 
}

.filter-option {
    display: flex;
    background-color: var(--color1);
    width: 50%;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    height: 2em;
    right: auto;
}

.filter-option:hover {
    opacity: 0.8;

}
.fo-active {
    background-color: rgb(117, 194, 224);
}

.not-found {
    background-color: var(--color1);
    margin: 0.5em;
    border-radius: 12px;
    width: 97%;
    text-align: center;
    padding: 0.5em;
}

.search-button {
    display: flex;
    width: 99%;
    height: 4em;
    margin-top: 0.1em;
    display: flex;
    padding-inline: 2em;
    align-items: center;
    position: relative;
    background-color: var(--color1);
}

.search-button:hover {
    opacity: 0.7;
}

.member {
    background-color: rgb(109, 130, 149) !important;
    
}



.separator {
    width: 100%;
    padding: 0.5em;
    
    display: flex;
    margin-block: 0.1em;
    justify-content: center;
    
    background-color:  rgb(103, 139, 153);
}