.color-picker-container {
    position: relative;
    display: inline-block;
    font-family: 'Segoe UI', sans-serif;
    width: 100%;    
  }
  
.color-preview {
    
    height: max-content;
    min-height: 3em;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
    overflow: hidden;
    width: 100%;
    
}
  
  
.color-panel {
    
    background: var(--color1);
 
    width: 100%;
    padding: 0.5em;

   
}


  
  .slider-container {
    margin-bottom: 12px;
  }
  
  .slider-container label {
    display: inline-block;
    width: 20px;
    font-weight: bold;
    color: #555;
  }
  
  .slider-container input[type="range"] {
    width: 120px;
    margin: 0 8px;
  }
  
  
  .hex-input {
    margin-top: 16px;
  }
  
  .hex-input label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    color: #555;
  }
  
  .hex-input input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-family: monospace;
  }

  .color-picker-container span {
    color: var(--text);
  }