.notification {
    padding: 12px 16px;
    color: white;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    opacity: 0.95;

    
  }
  
.notification-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.notification-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    animation: progress linear forwards;
}
  
@keyframes progress {
    from { width: 100%; }
    to { width: 0%; }
}
  
.close-notify {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    margin-left: 10px;
}

.close-notify {
    height: 2em;
}


.notification.info {
    background-color: rgb(113, 147, 177);
}

.notification.error {
    background-color: rgb(130, 90, 90);
}

.notification.success {
    background-color: rgb(97, 172, 97);
}

.notification:hover {
    opacity: 1;
}