.auth {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'FedraSansPro-Bold',  sans-serif;
}

.auth::before {
    content: "";
    position: absolute;
    background-image: url("assets/images/fon.jpg");
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: aqua;
}


.auth-window {
    min-height: 20em;
    padding: 1em;
    width: 25%;
    min-width: 17em;
    border: 1px solid var(--text);
    border-radius: 12px;
    position: relative;
    box-sizing: border-box;
    background-color: transparent;
    backdrop-filter: blur(2px);
    
}


.tabs-container {
    display: flex;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--color1);
}
  
.tab-button {
    padding: 12px 20px;
    border: none;
    background: none;
    font-size: 15px;
    font-weight: 500;
    color: #6b7280;
    cursor: pointer;
    position: relative;
}
  
 
  
.tab-button.activee::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 3px;
    background: #3b82f6;
    border-radius: 2px 2px 0 0;
  }

.tab-button.activee {
    color: var(--text);
    
}


.auth-title {
    
    position: absolute;
    top: -2em;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 2em;
    color: white;
     
}