.chat-button {
    background-color:var(--color2);
    color: var(--text);
    min-height: 5em;
    max-height: 5em;
    width: 97%;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-inline: 1em;
    margin-inline: 0.25em;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 0.25em
}

.chat-button:hover {
    opacity: 0.8;
    background-color: var(--chat-button-hover);
}
 
.chat-avatar {
    height: 80%;
    aspect-ratio: 1/1;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-filling {
    display: flex;
   
    width: 100%
}

.title {
    display: flex;
    align-items: center;
}

.last-message {
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    overflow-wrap: break-word;
    max-width: 70%; 
    height: 2em;
    padding-top: 0.3em;
}

.last-message-time {
    user-select: none;
    align-self: center;
    justify-self: flex-end;
    display: flex;
    position: absolute;
    right: 1em;
    align-items: center;
    
}

.chat-name {
    user-select: none;
    font-weight: 700;
}


.unread {
    display: flex;
    position: absolute;
    height: 0.7em;
    width: 0.7em;
    margin-left: 0.5em;
    background-color: red;
    border-radius: 50%;
    top: 0.5em;
    right: 0.5em;

}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chat-button.active {
    background-color: var(--active-chat-button) !important;
    opacity: 1 !important;
}



 
