.message-body {
    display: flex;
    align-items: flex-end;
    min-height: max-content;
    padding-block: 0.1em;
    box-sizing: border-box;
    padding-inline: 0.5em;
}

.message {
    background-color: var(--color1);
    height: max-content;
    width: max-content;
    max-width: 70%;
    padding-bottom: 0.3em;
    border-radius: 12px 12px 12px 0px;
    box-shadow: 0px 0px 5px rgb(6, 6, 6);
    box-sizing: border-box;
    position: relative;
    
}

.message-title {
    user-select: none;
    height: 2em;
    border-bottom: 1px solid var(--color2);
    margin-bottom: 0.5em;
    padding: 0.3em;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    color: var(--text);
    
}
.image {
    width: 100%;
}
.image-item {
    flex: 1;
    min-width: calc(33%); 
    max-width: 100%;
    aspect-ratio: 1/1; 
    box-sizing: border-box;
    max-height: max-content;
    border: 1px solid #000;
}

.additions {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.sent-time {
    display: flex;
    font-size: 1em;
    align-items: center;
    padding-inline: 0.5em;
    border-radius: 1em;
    margin-right: 0.3em;
    background-color: var(--color2);
}

.username {
    
    padding-inline: 0.5em;
    border-radius: 1em;
    background-color: var(--color2);
    font-size: 1em;
}

.prev {
    border-radius: 12px;
}

.user-icon {
    height: 4em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #000;
    position: absolute;
    left: -5px;
    bottom: 0px;
    translate: -100% ;
}

.message p {
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5em;
  color: var(--text)
}

.system{
    background-color: var(--text);
    color: var(--text);
    display: flex;
    width: max-content;
    margin-block: 0.25em;
    padding: 0.5em;
    border-radius: 1.5em;
    background-color: rgba(39, 38, 38, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
  
}

.message-text {
    padding-inline: 0.3em;
}

.my-message {
    border-radius: 12px 12px 0em 12px;
}

.my-message-body {
    justify-content: flex-end;
}

